* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
:root {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  font-size: 1.5rem;
}
.principal {
  display: flex;
}
footer {
  position: absolute;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.card {
  border: 0;
}

.accordion {
  width: 15%;
  margin-left: 2em;
}
